html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: "Hoefler Text", serif;
}

.hidden {
  display: none;
}

/* CONTROLS */

.controls {
  margin: 200px 200px 50px;
  display: flex;
  gap: 1em;
}

input[type="checkbox"] {
  user-select: none;
}

label {
  user-select: none;
}

button {
  font-family: "Hoefler Text", serif;
}

/* TEXT */

.text {
  margin: 100px 200px;
  font-size: 24px;
  line-height: 1.5;
}

.text:focus {
  outline: none;
}

.text.hasHover,
.hasHover .slip:not(.hover) .current {
  color: rgba(0,0,0,0.1);
}

/* LINES */

.line {
  /* height: 1em; */
  /* height: 1.5rem; */
}

.line.comment {
  font-style: italic;
  color: #999;
}

/* REGEX */

.regex {
  display: inline-block;
  transition: opacity 0.15s ease-in-out;
  /* padding: 5px; */
  /* padding: 0 5px; */
}

.view-visual .regex {
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0;
}

.view-regex .regex {
  /* display: inline-block; */
  opacity: 1;
}

.view-regex .hover .regex {
  opacity: 0;
}

/* SLIP */

.slip {
  display: inline-block;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.15);
  border-radius: 5px;
  /* padding: 0 5px; */
  position: relative;
  /* margin-bottom: -0.3em; */
  transition: width 0.15s ease-in-out;
}

/* .view-visual .slip {
  height: 0.75em;
} */

.slip-words {
  /* height: 1em; */
  height: 1.3em;
  padding: 0 5px;
  margin-bottom: -0.35em;
}

/* LIST */

.list {
  position: absolute;
  display: flex;
  /* padding: 5px; */
  /* height: 1em; */
  /* overflow: hidden; */
  top: 0;
  /* top: 0.5em; */
  /* margin-bottom: -0.5em; */
  /* left: 0; */
  left: 5px;
  /* top: -5px; */
  /* left: -5px; */
  height: 100%;
  gap: 2.5px;
  /* transition: top 0.15s ease-in-out, left 0.15s ease-in-out; */
}

.slip-words .list {
  flex-direction: column;
}

/* .slip-lines .list {
  flex-direction: row;
} */

/* .slip:hover .list {
  overflow: visible;
} */

.option {
  opacity: 0;
  color: #999;
  transition: opacity 0.15s ease-in-out;
  /* margin: 0.5em 0 0.5em 0; */
  width: max-content;
  /* padding: 5px; */
  /* margin: 5px; */
}

/* .slip-words .option {
  padding: 5px 0;
}

.slip-lines .option {
  padding: 0 5px;
} */

.slip.hover .option {
  opacity: 1;
}

.current {
  opacity: 1;
  color: #000;
}

/* .slip-lines .current {
  cursor: ew-resize;
} */

.slip-words .current {
  cursor: ns-resize;
}

.is-linking .slip-words .current {
  cursor: pointer;
}

.is-linking .slip-words[data-link] {
  opacity: 0.5;
}

.is-linking .slip-words[data-link] .current {
  cursor: default;
}

.view-regex .current {
  opacity: 0;
}

.view-regex .hover .current {
  opacity: 1;
}

.comment .current {
  color: #999;
}

/* linking */

.link-ref {
  line-height: 1;
  padding-left: 3px;
  color: #999;
}