/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: "Hoefler Text", serif;
  font-size: 24px;
  line-height: 1.5;

  &.playground {
    transition: 1s background-color;
    &.grey {
      background-color: rgb(227, 227, 227);
    }
    &.blue {
      background-color: rgb(222, 230, 236);
    }
  }
}
@media (max-width: 800px) {
  body {
    font-size: 16px;
    margin: 1em;
  }
}

h1 {
  font-size: 48px;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
}

a {
  color: mediumseagreen;
  text-decoration: none;

  &:hover {
    color: darkseagreen;
  }
}

textarea,
button {
  font-family: "Hoefler Text", serif;
}

button {
  padding: 0.2em 0.5em;
  line-height: 1.5;
  cursor: pointer;
}

pre {
  padding: 1em 1.5em;
  background-color: #f5f5f5;
  overflow-x: scroll;
}

code {
  font-size: 16px;
}

/* STRUCTURE */

header,
main,
footer {
  margin: 75px auto;
}

header,
footer {
  max-width: 800px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;

  & ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 1em;

    & ul {
      flex-direction: column;
      gap: 0;
    }
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;

  & a {
    color: black;
  }
}

/* MAIN */

main {
  max-width: 800px;
  width: 100%;
  margin: auto;

  & .section {
    margin-bottom: 50px;
  }
}

.playground {
  & header,
  & main,
  & footer {
    max-width: 80%;
  }

  & main {
    max-width: 80%;
    display: grid;
    /* grid-template-rows: auto 1fr; */
    grid-template-columns: calc(30% - 33.3px) calc(45% - 33.3px) calc(25% - 33.3px);
    gap: 50px;
    min-height: 50vh;
    align-items: start;
  }
}

@media (max-width: 800px) {
  .playground main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
}

/* .input--toolbar,
.form-container,
.text--toolbar,
.text-container {
  min-width: 250px;
} */

.input-container,
.output-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-container,
.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .form-container {
  grid-column: 1;
  margin-top: -12px;
}

.text-container {
  grid-column: 2;
}

.snapshots {
  grid-column: 3;
} */

form {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .input-container {
    flex: 1;
  }
}
@media (max-width: 800px) {
  form {
    height: 200px;
  }
}

#input {
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  border: 1px solid #e5e5e5;
  padding: 1.5em;
  box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.01);
  line-height: 1.5;
  font-size: 12px;
  font-family: monospace;
  /* background-color: #f9f9f9; */
  background-color: rgba(255, 255, 255, 0.1);
  color: #777;
}

.snapshots {
  font-size: 16px;
  color: #999;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: -1.5em;
}

.snapshot {
  border-radius: 7px;
  background-color: #f5f5f5;
  padding: 1.5em;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.snapshot--header {
  display: flex;
  align-items: center;
}

.snapshot--heading {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  flex: 1;
}

.snapshot--clear {
  cursor: pointer;

  .box {
    width: 24px;
    height: 24px;
  }
  
  .glyph {
    -webkit-mask: url("/icons/remove.svg");
    mask: url("/icons/remove.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #999;
  }
}

/* FOOTER */

footer {
  font-size: small;
  text-align: center;
}