@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CrimsonPro-Regular.ttf");
}
@font-face {
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/CrimsonPro-Italic.ttf");
}
@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/CrimsonPro-SemiBold.ttf");
}
@font-face {
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CourierPrime-Regular.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: "Crimson Pro", serif;
  font-size: 24px;
  line-height: 1.5;
  overflow-x: hidden;

  &.playground {
    transition: 1s background-color;
    &.grey {
      background-color: rgb(227, 227, 227);
    }
    &.blue {
      background-color: rgb(222, 230, 236);
    }
  }
}
@media (max-width: 800px) {
  body {
    font-size: 16px;
    margin: 1rem;
  }
}

h1 {
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-size: 39px;
  line-height: 1.2;
}

h3 {
  font-size: 31px;
  line-height: 1.3;
}

h4,
h5,
h6 {
  font-size: 25px;
  line-height: 1.4;
}

.box {
  width: 1em;
  height: 1em;
  position: relative;
}

.glyph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

a {
  color: mediumseagreen;
  text-decoration: none;

  &:hover {
    color: darkseagreen;
  }

  &[href*="//"] {
    display: flex;
    align-items: center;
    gap: 0.1em;

    & .glyph {
      -webkit-mask: url("/icons/ne-arrow.svg");
      mask: url("/icons/ne-arrow.svg");
      -webkit-mask-repeat: no-repeat;
      background-color: currentColor;
    }
  }
}

textarea,
button {
  font-family: "Crimson Pro", serif;
}

button {
  padding: 0.5em;
  line-height: 1.5;
  cursor: pointer;
  background-color: rgb(100, 160, 127);
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;

  &:hover {
    background-color: rgb(141, 180, 158);
  }

  &:disabled {
    background-color: rgb(182, 196, 188);
    cursor: default;
  }
}
@media (min-width: 800px) {
  button {
    padding: 0.5em 0.75em;
    font-size: 16px;
  }
}

pre {
  padding: 1em 1.5em;
  background-color: #f5f5f5;
  overflow-x: scroll;
}

code {
  font-size: 16px;
  font-family: "Courier Prime", monospace;
}

.hidden {
  display: none;
}

/* STRUCTURE */

header,
main,
footer {
  margin: 75px auto;
}
@media (max-width: 800px) {
  header,
  main,
  footer {
    margin: 1rem auto;
  }
}

header,
footer {
  max-width: 800px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;

  & ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
  }

  & .current a {
    border-bottom: 1px solid currentColor;
  }
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;

    & ul {
      max-width: 100%;
      overflow-x: scroll;
    }
  }
}

.title {
  font-size: 24px;
  margin: 0;
}

/* MAIN */

main {
  max-width: 800px;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  .playground {
    & header,
    & main,
    & footer {
      max-width: 80%;
    }
  }
}

@media (max-width: 800px) {
  .playground {
    & main {
      height: 75vh;
      display: flex;
      flex-direction: column;
    }
  }
}

.switcher {
  margin: 1em 0;
  font-size: 24px;

  & .proseplay-window {
    font-style: italic;
  }
}
@media (min-width: 800px) {
  .switcher {
    display: none;
  }
}

.viewer {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 50px;
}
@media (min-width: 1200px) {
  .viewer {
    grid-template-columns: 30% 1fr;
  }
}
@media (max-width: 800px) {
  .viewer {
    width: 200vw;
    display: flex;
    overflow-x: hidden;
    transition: 0.2s margin-left ease-in-out;
    gap: 20vw;
    flex: 1;

    &.view-input {
      margin-left: 0;
    }
  
    &.view-output {
      margin-left: -110vw;
    }
  }
}

.input-container,
.output-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90vw;
  height: 100%;
}
@media (min-width: 800px) {
  .input-container,
  .output-container {
    width: unset;
  }
}

@media (min-width: 800px) {
  .output-container {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto 1fr;
    gap: 20px 50px;
    grid-auto-flow: column;
  }
}
@media (min-width: 1200px) {
  .output-container {
    grid-template-columns: 1fr 30%;
  }
}

.toolbar {
  display: flex;
  gap: 0.5em;

  &.toolbar--full {
    & button {
      flex: 1;
    }
  }
}
@media (max-width: 800px) {
  .toolbar button {
    flex: 1;
  }
}

.form-container {
  flex: 1;
}

form {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .input-container {
    flex: 1;
  }
}
@media (max-width: 800px) {
  form {
    height: 100%;
  }
}

#input {
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  border: 1px solid #e5e5e5;
  padding: 1.5em;
  box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.01);
  line-height: 1.5;
  font-family: "Courier Prime", monospace;
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 800px) {
  #input {
    flex: 1;
  }
}

.text-container {
  font-size: 24px;
}

.snapshots {
  font-size: 16px;
  color: #999;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.snapshot {
  border-radius: 7px;
  background-color: #f5f5f5;
  padding: 1.5em;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.snapshot--header {
  display: flex;
  align-items: center;
}

.snapshot--heading {
  margin: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  flex: 1;
}

.snapshot--clear {
  cursor: pointer;

  & .box {
    width: 24px;
    height: 24px;
  }
  
  & .glyph {
    -webkit-mask: url("/icons/remove.svg");
    mask: url("/icons/remove.svg");
    background-color: #999;
  }
}

/* FOOTER */

footer {
  font-size: small;
  text-align: center;
}